.avtar {
  position: relative;
  .bg {
    height: 45vh;
    overflow: hidden;
    image {
      width: 100%;
    }
  }
  .user {
    position: absolute;
    left: 50%;
    top: 30rpx;
    transform: translateX(-50%);
    image {
      width: 100%;
    }
    button {
      width: 200rpx;
    }
  }
}



.tabs {
  display: flex;
  font-size: 34rpx;
  .item {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1rpx solid #ccc;
    padding-bottom: 20rpx;
    &.active {
      border-bottom: 1rpx solid #fe6f36;
      color: #fe6f36;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}